Repository Veil-Project/veil, pull requests merged in 2020-11, with the labels that each got.

#869 [PoW][RandomX] Display Hashspeed after processing
  src/miner.cpp
  src/miner.h
Labels: Algo: ProgPow, Algo: RandomX

#868 [RPC] add vout.n sequence number to decoderawtransaction
  src/core_write.cpp
  src/rpc/rawtransaction.cpp
Labels: Component: RPC, Tag: TransactionRecords, Tag: Waiting For Code Review

#864 [RingCT Staking] Fix creation of stealth staking address on startup
  src/veil/ringct/anonwallet.cpp
  src/veil/ringct/rpcanonwallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: Coin Type: RingCT, Tag: PoS, Tag: StealthAddress

#870 [RPC] Remove lock check for listzerocoinamounts
  src/wallet/rpczerocoin.cpp
  src/wallet/wallet.cpp
Labels: Coin Type: Zerocoin, Component: RPC, Tag: Waiting For QA

#873 [Trivial][RPC] Correct generatecontinuous help
  src/wallet/rpcwallet.cpp
Labels: Component: RPC

#865 [GUI]: add a small indicator for the last block time on lower veil status bar
  src/qt/bitcoingui.cpp
  src/qt/veil/forms/veilstatusbar.ui
  src/qt/veil/veilstatusbar.cpp
  src/qt/veil/veilstatusbar.h
Labels: Bounty: Assigned, Code Review: Passed, Component: GUI, QA: Passed, Tag: Chainstate

#871 Optimize hashing of internal sha256d miner.
  src/miner.cpp
  src/primitives/block.cpp
  src/primitives/block.h
Labels: Algo: Sha256d, Bounty: Assigned, Component: Miner, Tag: Waiting For QA

#872 [DB] Data error checks and frequency changes
  src/chain.cpp
  src/txdb.cpp
  src/validation.h
Labels: Component: Core App, Priority: 3 - High, Tag: Chainstate, Tag: Waiting For Code Review

#874 [Config] Ignore prune mode if txindex is set
  src/init.cpp
Labels: Code Review: Passed, Component: GUI, Component: Wallet, QA: Passed, Tag: OS - Windows
