Repository Veil-Project/veil, pull requests merged in 2020-10, with the labels that each got.

#854 [WIP][Build] Fix randomx build on 32b systems
  .github/workflows/build-factory.yml
  configure.ac
  src/Makefile.am
Labels: Tag: Build System

#856 change dag size init and epoch length
  src/crypto/ethash/include/ethash/ethash.h
  src/crypto/ethash/include/ethash/ethash.hpp
  src/crypto/ethash/lib/ethash/ethash.cpp
  src/crypto/ethash/lib/ethash/progpow.cpp
Labels: Algo: ProgPow, Code Review: Passed, Component: Consensus, Tag: PoW

#797 [budget] Update Multisig Budget Address
  src/veil/budget.cpp
  src/veil/budget.h
Labels: Code Review: Passed, Component: Consensus, Merging: Fork Required, QA: Passed

#851 [Chain] Set fork dates
  src/chainparams.cpp
Labels: Code Review: Passed, Component: Network, Merging: Fork Required, Priority: 3 - High, Tag: Chainstate

#857 [Build] Update build compatibility for 1.1.0.1 release changes
  contrib/gitian-descriptors/gitian-linux.yml
Labels: Code Review: Passed, Tag: Build System

#858 [CI][Build] Reinstate i686 Linux 32 Github Action
  .github/workflows/build-factory.yml
  CONTRIBUTING.md
Labels: Tag: Build System, Tag: CI
