Repository Veil-Project/veil, pull requests merged in 2020-12, with the labels that each got.

#876 [RPC] Reworked getnetworkhashps with tweaks to -mine and getmininginfo
  src/miner.cpp
  src/miner.h
  src/pow.cpp
  src/qt/veil.cpp
  src/rpc/mining.cpp
  src/validation.cpp
  src/veild.cpp
Labels: Code Review: Passed, Component: RPC, Tag: Needs Release Notes, Tag: PoW, Tag: Waiting For QA

#883 [RPC][Mining] Extract last Hashspeed calculation
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
Labels: Component: Miner, Component: RPC

#880 [GUI] Update Staking Slider to be reflective of status
  src/qt/bitcoingui.cpp
  src/qt/veil/veilstatusbar.cpp
  src/qt/veil/veilstatusbar.h
  src/veil/mnemonic/mnemonicwalletinit.cpp
  src/wallet/rpcwallet.cpp
Labels: Bounty: Assigned, Code Review: Passed, Component: GUI, Tag: PoS, Tag: Waiting For QA
