Repository Veil-Project/veil, pull requests merged in 2020-08, with the labels that each got.

#808 [Build] Remove constant string warnings
  src/miner.cpp
  src/miner.h
Labels: Code Review: Passed, Tag: Build System

#810 [RPC] Add RPC command 'getchainalgostats' to get block count for each algo
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
Labels: Code Review: Passed, Component: RPC

#814 [Build] Fix Implicit Declaration Warnings
  src/crypto/hash-ops.h
  src/crypto/rx-slow-hash.c
Labels: Code Review: Passed, Tag: Build System

#817 [Trivial] Cleanup lingering stdout messages
  src/crypto/randomx/randomx.cpp
  src/pow.cpp
  src/validation.cpp
Labels: Code Review: Passed

#819 [logging] remove FindTx txid mismatch error when expected
  src/index/txindex.cpp
  src/index/txindex.h
  src/util.h
  src/validation.cpp
  src/validation.h
  src/veil/zerocoin/zchain.cpp
  src/veil/zerocoin/zchain.h
Labels: Code Review: Passed, Tag: PoS, Tag: Syncing

#823 [WIP][Build] Update for ARM builds
  .github/workflows/build-factory.yml
  configure.ac
  src/Makefile.am
  src/crypto/randomx/argon2.h
  src/crypto/randomx/argon2_avx2.c
Labels: Component: DevOps, Tag: Build System, Tag: CI

#824 [Build] Fix apt updates
  .github/workflows/build-factory.yml
Labels: Component: DevOps, Tag: Build System, Tag: CI

#820 [PoW][RandomX] Don't check RandomX PoW until checking the block
  src/pow.cpp
  src/validation.cpp
Labels: Code Review: Passed, Component: Miner, Tag: PoW, Tag: Syncing

#825 [PoW] Disallow stealth mining addresses
  src/chainparams.cpp
  src/miner.cpp
  src/rpc/mining.cpp
  src/veild.cpp
Labels: Component: Miner, Component: RPC, Tag: PoW, Tag: Waiting For Code Review

#826 [RPC] Rework difficulty reporting in getblockchaininfo
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
Labels: Component: RPC, Tag: PoW, Tag: Waiting For Code Review

#829 [PoW] Correct difficulty limit checks
  src/miner.cpp
  src/pow.cpp
  src/pow.h
  src/rpc/mining.cpp
  src/validation.cpp
Labels: Component: Consensus, Tag: PoW, Tag: Waiting For Code Review

#831 [PoS] Don't try to stake txs below nStakeMinAge
  src/veil/proofofstake/kernel.cpp
  src/wallet/wallet.cpp
Labels: Code Review: Passed, Priority: 1 - Low, Tag: PoS

#832 [PoW] Correct randomx stop and progpow thread interrupt
  src/miner.cpp
Labels: Algo: ProgPow, Algo: RandomX, Code Review: Passed, Component: Miner, Tag: PoW

#837 Fix crash on multiple progpow threads without hack
  src/hash.cpp
  src/hash.h
  src/miner.cpp
  src/pow.cpp
Labels: Algo: ProgPow, Code Review: Passed, Component: Miner, Tag: PoW

#841 [GUI] Disallow stealth mining addresses
  src/qt/veil.cpp
Labels: Code Review: Passed, Component: GUI, Tag: PoS

#842 [RPC] Add listaddresses
  src/veil/ringct/anonwallet.cpp
  src/wallet/rpcwallet.cpp
Labels: Code Review: Passed, Component: RPC
