Repository Veil-Project/veil, pull requests merged in 2020-03, with the labels that each got.

#753 [RPC] Add local rpc node ProgPow GPU mining support
  src/crypto/ethash/progpow_test_vectors.hpp
  src/rpc/blockchain.h
  src/rpc/mining.cpp
  src/wallet/init.cpp
Labels: Component: Miner, Component: RPC, Tag: Waiting For Code Review

#739 [RPC][Logging] First round of RingCT logging cleanup
  src/interfaces/wallet.cpp
  src/veil/ringct/anonwallet.cpp
  src/veil/ringct/anonwallet.h
  src/veil/ringct/rpcanonwallet.cpp
  src/veil/ringct/stealth.cpp
  src/veil/ringct/stealth.h
  src/wallet/wallet.cpp
Labels: Code Review: Passed, Coin Type: RingCT, Component: RPC, QA: Passed

#749 Add missing header.
  src/httpserver.cpp
Labels: QA: Passed

#754 [Build] Fix timing issue in Travis between depends and build
  .travis.yml
Labels: Tag: Build System, Tag: TravisCI

#755 [GUI] Fix sending page crashes
  src/qt/forms/askpassphrasedialog.ui
  src/qt/forms/sendcoinsdialog.ui
  src/qt/guiutil.cpp
  src/qt/locale/veil_en.ts
  src/qt/res/css/main.css
  src/qt/sendcoinsdialog.cpp
  src/qt/splashscreenveil.cpp
  src/qt/veil.cpp
  src/qt/veil/forms/addressesmenu.ui
  src/qt/veil/forms/addresseswidget.ui
  src/qt/veil/forms/balance.ui
  src/qt/veil/mainwindow.cpp
  src/qt/veil/settings/settingswidget.cpp
Labels: Code Review: Passed, Component: GUI, QA: Passed
