Repository Veil-Project/veil, pull requests merged in 2020-07, with the labels that each got.

#789 build: ensure we aren't using GNU extensions
  configure.ac
  src/chain.h
  src/prevector.h
  src/rpc/blockchain.cpp
  src/serialize.h
  src/test/serialize_tests.cpp
  src/txdb.cpp
Labels: Code Review: Passed, QA: Passed

#790 Correct incorrect usage of string arithmetic.
  src/libzerocoin/Bulletproofs.cpp
  src/rpc/rawtransaction.cpp
Labels: Code Review: Passed, Issue Type: Bug, QA: Passed

#767 Disable Dark Mode on recent versions of macOS.
  src/Makefile.qt.include
  src/qt/macdarkmode.h
  src/qt/macdarkmode.mm
  src/qt/veil.cpp
Labels: Code Review: Passed, Component: GUI, Priority: 2 - Normal, QA: Passed, Tag: OS - OSX

#723 Get rid of precompute.
  src/Makefile.am
  src/consensus/tx_verify.cpp
  src/init.cpp
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/logging.cpp
  src/logging.h
  src/qt/coincontroldialog.cpp
  src/qt/res/css/main.css
  src/qt/veil/forms/veilstatusbar.ui
  src/qt/veil/mainwindow.cpp
  src/qt/veil/veilstatusbar.cpp
  src/qt/veil/veilstatusbar.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/validation.cpp
  src/validation.h
  src/veil/proofofstake/stakeinput.cpp
  src/veil/proofofstake/stakeinput.h
  src/veil/zerocoin/accumulators.cpp
  src/veil/zerocoin/accumulators.h
  src/veil/zerocoin/lrucache.cpp
  src/veil/zerocoin/lrucache.h
  src/veil/zerocoin/precompute.cpp
  src/veil/zerocoin/precompute.h
  src/veil/zerocoin/witness.cpp
  src/veil/zerocoin/witness.h
  src/veil/zerocoin/ztracker.cpp
  src/veil/zerocoin/ztracker.h
  src/wallet/init.cpp
  src/wallet/rpczerocoin.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Code Review: Passed, QA: Passed, Tag: PoS, Tag: Precompute

#770 Improvement: Password input
  src/Makefile.am
  src/compat/stdin.cpp
  src/compat/stdin.h
  src/veil-cli.cpp
Labels: Code Review: Passed, Component: RPC, QA: Passed

#800 [RPC] Fix getbalance to get all coin types
  src/veil/ringct/anonwallet.cpp
  src/veil/ringct/anonwallet.h
  src/veil/ringct/rpcanonwallet.cpp
  src/veil/zerocoin/ztracker.cpp
  src/veil/zerocoin/ztracker.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Code Review: Passed, Component: RPC, Component: Wallet, QA: Passed, Tag: Missing or Incorrect Coins

#798 [GUI] Fix RingCT Coin Control for minted change
  src/qt/coincontroldialog.cpp
Labels: Code Review: Passed, Coin Type: RingCT, Component: GUI, QA: Passed, Tag: Coin Control

#799 [Trivial] Cleanup old bitcoin text
  src/wallet/rpcdump.cpp
Labels: Code Review: Passed, Component: RPC, QA: Passed

#794 Getblock: do not hold cs_main.
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
Labels: Code Review: Passed, Component: RPC, Priority: 2 - Normal, QA: Passed

#804 [Build] Clear Build Warnings
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/tx_verify.cpp
  src/interfaces/wallet.cpp
  src/libzerocoin/SerialNumberSoK_small.cpp
  src/miner.cpp
  src/rpc/blockchain.cpp
  src/script/ismine.cpp
  src/script/standard.cpp
  src/txdb.cpp
  src/validation.cpp
  src/veil/mnemonic/mnemonic.h
  src/veil/ringct/anon.cpp
  src/veil/ringct/anonwallet.cpp
  src/veil/ringct/rpcanonwallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Code Review: Passed, QA: Passed, Tag: Build System

#805 Update PoW Diff to use last blocktime
  src/chainparams.cpp
  src/pow.cpp
Labels: Tag: PoW, Tag: Waiting For Code Review

#809 [GUI] Adjust stretch factor Zerocoin minting page
  src/qt/veil/forms/settingsminting.ui
Labels: Code Review: Passed, Component: GUI, QA: Passed

#811 [WIP][Build] Created Github Actions CI for Veil
  .github/workflows/build-factory.yml
  .travis.yml
  configure.ac
  src/Makefile.am
Labels: Tag: Build System
