Repository Veil-Project/veil, pull requests merged in 2020-09, with the labels that each got.

#844 [RPC] Let 0 be max walletpassphrase unlock
  src/wallet/rpcwallet.cpp
Labels: Code Review: Passed, Component: RPC, Component: Wallet, Tag: Encryption

#845 disable algo-check on blockcreate, add mining state to getblocktemplate
  src/rpc/mining.cpp
  src/validation.cpp
  src/validation.h
Labels: Code Review: Passed, Component: Miner, Component: RPC, Tag: PoW

#838 [GUI] Remove references to x16rt mining algorithm
  src/qt/locale/veil_en.ts
  src/qt/veil/forms/settingsfaq09.ui
Labels: Algo: ProgPow, Algo: RandomX, Algo: Sha256d, Algo: X16RT, Code Review: Passed, Component: GUI

#846 [PoW][RPC] Correct Sha256 Nonce incrementation
  src/chainparams.cpp
  src/rpc/mining.cpp
Labels: Algo: ProgPow, Algo: Sha256d, Component: Miner, Component: RPC

#840 [PoS][PoW] Refine PoS to manage overall chain spacing
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/params.h
  src/pow.cpp
  src/pow.h
  src/veil/proofofstake/stakeinput.cpp
  src/versionbits.h
Labels: Code Review: Passed, Merging: Fork Required, Priority: 3 - High, Tag: Chainstate, Tag: PoS, Tag: Segfault

#848 [Chain] Add checkpoint blocks
  src/chainparams.cpp
Labels: Code Review: Passed, Tag: Chainstate, Tag: Validation

#849 [PoS] Fine tune PoS difficulty adjustments
  src/pow.cpp
Labels: Component: Consensus, Component: Miner, Tag: PoS, Tag: Waiting For Code Review

#850 [DWG] Make sure OneBack exists
  src/pow.cpp
Labels: Priority: 3 - High, Tag: PoS, Tag: PoW, Tag: Segfault
