Repository Veil-Project/veil, pull requests merged in 2021-01, with the labels that each got.

#888 [GUI] Update QR Code on address selection
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/veil/addresseswidget.cpp
  src/qt/veil/addresseswidget.h
  src/qt/veil/balance.cpp
  src/qt/veil/balance.h
  src/qt/veil/forms/balance.ui
  src/qt/veil/forms/receivewidget.ui
  src/qt/veil/receivewidget.cpp
  src/qt/veil/receivewidget.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: Bounty: Assigned, Component: GUI, Component: Wallet, Tag: Waiting For Code Review

#890 [Miner][Randomx] Optimised RandomX for each machine
  src/pow.cpp
Labels: Algo: RandomX, Code Review: Passed, Tag: PoW

#893 [Wallet] Reduce shutdown delays when mining
  src/miner.cpp
  src/rpc/mining.cpp
Labels: Algo: ProgPow, Algo: RandomX, Algo: Sha256d, Component: Core App, Component: Miner

#891 [PoW][RandomX] Cherry picked fixes from offical randomx repo
  src/crypto/randomx/aes_hash.cpp
  src/crypto/randomx/aes_hash.hpp
  src/crypto/randomx/allocator.cpp
  src/crypto/randomx/argon2_core.c
  src/crypto/randomx/blake2/blake2.h
  src/crypto/randomx/blake2/blake2b.c
  src/crypto/randomx/intrin_portable.h
  src/crypto/randomx/jit_compiler_a64.hpp
  src/crypto/randomx/jit_compiler_a64_static.S
  src/crypto/randomx/jit_compiler_fallback.hpp
  src/crypto/randomx/jit_compiler_x86.cpp
  src/crypto/randomx/jit_compiler_x86.hpp
  src/crypto/randomx/randomx.cpp
  src/crypto/randomx/randomx.h
  src/crypto/randomx/virtual_machine.cpp
  src/crypto/randomx/virtual_machine.hpp
Labels: Algo: RandomX, Code Review: Passed, Component: Miner, Tag: PoW

#895 Change default automint denom to 1000
  src/util.h
Labels: Coin Type: Zerocoin, Component: Wallet, Tag: Automint, Tag: Waiting For Code Review
