Repository Veil-Project/veil, pull requests merged in 2021-10, with the labels that each got.

#969 [GUI|MINE] Mining Tab
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/res/icons/ic_mined_white.png
  src/qt/veil.qrc
  src/qt/veil/forms/miningwidget.ui
  src/qt/veil/miningwidget.cpp
  src/qt/veil/miningwidget.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: Component: GUI, Component: Miner, Code Review: Passed

#967 [Mining] Recent mining hash speed
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
Labels: Tag: PoW, Component: Miner, Tag: Waiting For QA, Code Review: Passed

#973 Lock cs_main before calling GetBlocksToMaturity
  src/wallet/rpcwallet.cpp
Labels: Component: Core App, Tag: Waiting For Code Review
