Repository Veil-Project/veil, pull requests merged in 2022-04, with the labels that each got.

#975 [GUI|MINE] update for override of max thread usage
  src/qt/veil/forms/miningwidget.ui
  src/qt/veil/miningwidget.cpp
  src/qt/veil/miningwidget.h
Labels: Component: GUI, Tag: PoW, Component: Miner, Code Review: Passed

#996 [QT] Proposed fix for (one type of) force_return errors
  src/qt/transactionrecord.cpp
Labels: Issue Type: Bug, Component: GUI, Tag: TransactionRecords

#997 Add RPCs for external RandomX mining
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/validation.cpp
  src/validation.h
Labels: Component: RPC, Component: Miner, Bounty: Assigned, Tag: Waiting For Code Review, Algo: RandomX

#991 [RPC][Wallet] Create multiple transactions with one command.
  src/interfaces/wallet.cpp
  src/veil/ringct/anonwallet.cpp
  src/veil/ringct/anonwallet.h
  src/veil/ringct/rpcanonwallet.cpp
  src/veil/ringct/temprecipient.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Component: Wallet, Component: RPC, Coin Type: RingCT, Coin Type: Basecoin, Coin Type: CT, Tag: Transaction Creation, Tag: Waiting For Code Review
